node_modules/
build/
public/ads/*
public/tickets/*

.vscode/
.idea
files/images/*
!files/images/.gitkeep

files/videos/*
!files/videos/.gitkeep

files/svg/*
!files/svg/.gitkeep

files/audio/*
!files/audio/[a-zA-Z]*
!files/audio/.gitkeep

files/common/*
!files/common/.gitkeep

files/avatars/*
!files/avatars/.gitkeep
!files/avatars/male-default-avatar.png
!files/avatars/female-default-avatar.png
!files/avatars/admin-avatar.png

!**/*.gitkeep

logs/**/*
!logs/.gitkeep

src/emitter